#left-canvas, #right-canvas {
    border: 1px solid #000;
    display: inline-block;
    margin: 10px;
}
#canvas-container {
    display: flex;
}

#left-canvas {
border: 1px solid black;
transform: scale(8);
transform-origin: top left;
image-rendering: pixelated;
}
 
.canvas-wrapper {
flex: 1;
display: flex;
justify-content: flex-start;
align-items: flex-start;
}

canvas {
border: 1px solid #000;
background-color: #fff;
}

.controls {
margin-top: 20px;
text-align: center;
}